In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import mlxtend
from mlxtend.frequent_patterns import association_rules, apriori

In [19]:
data = pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/basket_items.csv')

In [20]:
data

   trans                          items
0      1              butter|bread|coke
1      2                   bread|butter
2      3               beer|diaper|milk
3      4  beer|bread|butter|diaper|milk
4      5         coke|diaper|milk|bread

In [21]:
basket = data['items'].str.get_dummies('|')

In [22]:
basket

   beer  bread  butter  coke  diaper  milk
0     0      1       1     1       0     0
1     0      1       1     0       0     0
2     1      0       0     0       1     1
3     1      1       1     0       1     1
4     0      1       0     1       1     1

In [23]:
baskets = basket.astype(pd.SparseDtype('bool'))

In [24]:
baskets

    beer  bread  butter   coke  diaper   milk
0  False   True    True   True   False  False
1  False   True    True  False   False  False
2   True  False   False  False    True   True
3   True   True    True  False    True   True
4  False   True   False   True    True   True

In [25]:
frequent_itemsets = apriori(baskets, min_support = 0.1, use_colnames = True)
frequent_itemsets['support_n']=frequent_itemsets['support']*len(baskets)
frequent_itemsets.sort_values('support', ascending=False)

    support                             itemsets  support_n
1       0.8                              (bread)        4.0
2       0.6                             (butter)        3.0
4       0.6                             (diaper)        3.0
5       0.6                               (milk)        3.0
19      0.6                       (diaper, milk)        3.0
10      0.6                      (bread, butter)        3.0
0       0.4                               (beer)        2.0
11      0.4                        (coke, bread)        2.0
25      0.4                 (diaper, beer, milk)        2.0
31      0.4                (diaper, bread, milk)        2.0
12      0.4                      (diaper, bread)        2.0
13      0.4                        (bread, milk)        2.0
9       0.4                         (beer, milk)        2.0
8       0.4                       (diaper, beer)        2.0
3       0.4                               (coke)        2.0
27      0.2              (diaper, bread, butter)        1.0
37      0.2         (diaper, beer, butter, milk)        1.0
36      0.2          (diaper, beer, bread, milk)        1.0
35      0.2          (beer, bread, butter, milk)        1.0
34      0.2        (diaper, beer, bread, butter)        1.0
33      0.2                 (coke, milk, diaper)        1.0
38      0.2        (diaper, bread, butter, milk)        1.0
32      0.2               (diaper, butter, milk)        1.0
39      0.2          (coke, bread, milk, diaper)        1.0
30      0.2                  (coke, bread, milk)        1.0
29      0.2                (coke, bread, diaper)        1.0
28      0.2                (bread, butter, milk)        1.0
20      0.2                (beer, bread, butter)        1.0
26      0.2                (coke, bread, butter)        1.0
24      0.2                 (beer, butter, milk)        1.0
23      0.2               (diaper, beer, butter)        1.0
22      0.2                  (beer, bread, milk)        1.0
21      0.2                (diaper, beer, bread)        1.0
18      0.2                         (coke, milk)        1.0
17      0.2                       (coke, diaper)        1.0
16      0.2                       (butter, milk)        1.0
15      0.2                     (diaper, butter)        1.0
14      0.2                       (coke, butter)        1.0
7       0.2                       (beer, butter)        1.0
6       0.2                        (beer, bread)        1.0
40      0.2  (diaper, beer, bread, butter, milk)        1.0

In [27]:
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = .5)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(beer),(bread),0.4,0.8,0.2,0.500000,0.625000,-0.12,0.4
1,(beer),(butter),0.4,0.6,0.2,0.500000,0.833333,-0.04,0.8
2,(diaper),(beer),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
3,(beer),(diaper),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
4,(beer),(milk),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
...,...,...,...,...,...,...,...,...,...
147,"(beer, butter)","(diaper, bread, milk)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
148,"(beer, milk)","(diaper, bread, butter)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.6
149,"(bread, milk)","(diaper, beer, butter)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.6
150,"(butter, milk)","(diaper, beer, bread)",0.2,0.2,0.2,1.000000,5.000000,0.16,inf
151,(beer),"(diaper, bread, butter, milk)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.6